body {
    background: url("../images/scene.png");
}

.enigme-btn, .digicode-btn {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    content: " ";
    border: none;
    background: none;
    outline: none !important;
}

.enigme-btn:hover, .digicode-btn:hover {
    background: radial-gradient(#ff300088, rgba(255, 255, 255, 0) 65%);
}

.enigme-disabled {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    content: " ";
    border: none;
    background: none;
    outline: none !important;
}

.enigme-disabled:hover {
    background: radial-gradient(rgba(75, 80, 86, 0.98), rgba(255, 255, 255, 0) 65%);
}

.enigme-btn-1 {
    left: 32%;
    top: 70%;
}

.enigme-btn-2 {
    left: 57%;
    top: 38%;
}

.enigme-btn-3 {
    left: 12%;
    top: 82%;
}

.enigme-btn-4 {
    left: 90%;
    top: 20%;
}

.enigme-btn-5 {
    left: 22%;
    top: 35%;
}

.enigme-btn-6 {
    left: 50%;
    top: 50%;
}

.digicode-btn {
    left: 29%;
    top: 30%;
}

.digicode-content {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    background: rgba(255, 255, 255, 0) url("../../../images/digicode.png") no-repeat !important;
    width: 982px;
    height: 681px;
}

.enigme {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    background: rgba(255, 255, 255, 0) url("../images/dossierEnigme.png") no-repeat !important;
    width: 982px;
    height: 681px;
}

.enigme-content {
    width: 37%;
    margin-left: 58%;
    margin-top: 20%;
    text-align: justify;
}

.form-reponse {
    text-align: center;
}

.input-reponse {
    width: 50px;
    border: 2px solid #bca186 !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.answer {
    margin-bottom: 10px;
    color: #000;
    border: 2px solid #bca186 !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    transition: all 200ms ease-in-out;
}

.answer:hover {
    color: #000;
    transition: all 200ms ease-in-out;
}

label {
    display: inline-block;
}

.disable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pic-enigme {
    transform: rotate(-12deg);
    padding: 15px;
    background-color: rgb(255, 250, 239);
}

.pic-enigme-2 {
    width: 35%;
    margin-top: 25px;
    margin-left: 20px;
    float: left;
}

.countdown {
    font-family: "Verdana", sans-serif;
    margin: auto;
    width: 100%;
    color: blue;
    font-size: 36pt;
    position: absolute;
    z-index: 9995;
    font-weight: bold;
}

.fancybox-bg {
    background: #0a0a0a !important;
}